@model PtApp.ViewModels.IndexVM

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="jumbotron">
        <h1>PT Examination App</h1>
        <p><a href="@Url.Action("Exam")" class="btn btn-primary btn-lg">Start New Exam</a></p>
    </div>
</div>